body{
    background-color: bisque;
}
h1{
    color: tomato;
    text-align: center;
}

/* input {
    
    border: none;           /* Remove a borda */
    border-bottom: 1px solid black;  /* Adiciona apenas uma linha na parte inferior */
    background: none;       /* Remove o fundo */
    outline: none;          /* Remove a borda de foco */
    padding: 5px 0;         /* Ajusta o espaçamento interno */
    font-size: 16px;        /* Ajusta o tamanho da fonte */

  }
   */